<div class="points-container">
    <div class="point-container">
        <div class="point-name">
            <label class="marker-point">A</label>
        </div>
        <div class="delete-point">
            <label class="marker-delete">X</label>
        </div>
    </div>

    <div class="point-container">
        <div class="point-name">
            <label class="marker-point">B</label>
        </div>
        <div class="delete-point">
            <label class="marker-delete">X</label>
        </div>
    </div>
    <div class="point-container">
        <div class="point-name">
            <label class="marker-point">C</label>
        </div>
        <div class="delete-point">
            <label class="marker-delete">X</label>
        </div>
    </div>
    <div class="point-container">
        <div class="point-name">
            <label class="marker-point">D</label>
        </div>
        <div class="delete-point">
            <label class="marker-delete">X</label>
        </div>
    </div>
</div>

