.points-container{
    position: absolute;
    top: 2%;
    left: 1%;
    display: flex;
    flex-direction: column;
    width: 150px;
    z-index: 1;
}

.point-container{
    padding: 10px 15px 10px 15px;
    margin: 2px;
    font-size: 18px;
    background-color: rgb(240, 238, 238);
    color: rgb(3, 3, 3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
}


.marker{
    display: block;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    text-align: center;

}
.point-name .marker-point{

    background-color: green;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    width: 100%;
}
.point-name{
    width: 70%;

}
.delete-point{
    width: 30%
}