.login-page-container{
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.login-container{
    max-width: 420px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-size: 1.50rem;
    background-color: rgb(240, 238, 238);
    padding: 35px;
    border-radius: 25px;
}

.login-container button{
    font-size: 1.5rem;
}

.event-id-form-input-field{
    height: 45px;
    font-size: 1.5rem;
}
/* .input-container{
    padding: 15px;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(216, 216, 216);
}
.input-container label{
    margin: 5px;
}
.input-container input{
    margin: 5px 0px 5px 0px;
    height: 35px;
}

.input-container button{
    cursor: pointer;
    height: 35px;

} */